@font-face {
  font-family: gotham;
  src: url("Orbitron.ttf");
}

@font-face {
  font-family: astro;
  src: url("ASTRO867.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family: gotham;
}
.banner {
  width: 400px;
}
.minter-main {
  height: 110vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  /* background-color: black; */
  background-image: url("./bg.jpg");
}

.minter-h1 {
  margin-top: 2em;
  font-family: astro;
  font-size: 2rem;
  text-align: center;
  font-weight: bold;
  background: transparent;
  color: white;
}

.minter-status {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin-top: 1.5em;
  height: 20vh;
  border-radius: 10px;
  width: 55vw;
  background-color: white;
}

.minter-status-card {
  margin: auto;
  background-color: white;
}

.minter-status-card h6 {
  color: black;
  background-color: white;
  font-size: 1rem;
  margin-bottom: 10px;
  font-weight: bold;
}

.minter-status-card h2 {
  color: black;
  background-color: white;
  font-size: 2rem;
}

.vl {
  border-left: 0.5px solid rgb(211, 211, 211);
  height: 100%;
}

.minting-section {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin-top: 1.5em;
}

.img-main {
  position: absolute;
  left: 20px;
  top: 20px;
  width: 8%;
}

.mint {
  font-size: 1rem;
  font-size: bold;
  border-radius: 4px;
  cursor: pointer;
  padding: 15px;
  width: 200px;
  margin: 2rem;
}

.connect {
  width: 200px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  padding: 20px;
  border-radius: 4px;
}

/* Button SCSS */
.btn {
  color: black;
}
.btn.btn-square {
  border-radius: 0;
}
.btn.btn-round {
  border-radius: 100%;
}
.amount {
  padding: 15px;
  height: 45px;
  width: 45px;
  text-align: center;
  cursor: pointer;
  font-size: 1rem;
}

.btn:focus,
.btn.focus,
.btn:active,
.btn.active {
  outline: none;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

/* Gradient Button */
.btn-gradient-blue {
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  -moz-transition: 0.5s;
  padding: 20px;
  transition: 0.5s;
  background-color: #27008b;
  background-size: 200% auto;
  border: 0;
  color: #ffffff;
}
.btn-gradient-blue:hover,
.btn-gradient-blue:active {
  background-position: right center;
  text-decoration: none;
  color: #ffffff;
}
.btn-gradient-blue:not(:disabled):not(.disabled):active {
  background-color: #27008b;
}

.Toastify__toast {
  color: black;
  background-color: black !important;
}

@media only screen and (max-width: 768px) {
  .minter-status {
    height: 50vh;
    flex-direction: column;
  }
  .minter-main {
    height: 200vh;
  }
  .banner {
    width: 250px;
  }
  .minter-status-card {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .web3modal-modal-lightbox {
    z-index: 999 !important;
  }

  .vl {
    border-left: 0.5px solid rgb(211, 211, 211);
    background-color: white;
    width: 100%;
  }
  .minter-h1 img {
    width: 100%;
  }
  .minter-main {
    height: 110vh;
  }
}
